.lista_titulo{
    color: var(--azul-escuro);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 2em;
    
}
.lista_subtitulo{
    color: var(--azul-escuro);
    font-size: 18px;
    font-weight: 500;
    padding: 3em 0;
    padding-left: 2em;
    
}
.lista_item{
    color: var(--cinza);
    font-size: 16px;
    font-weight: 500;
    padding-left: 2em;
    
}
.lista_texto{
    display: flex;
    
    
}
.design{
    padding: 4em 30em;
    
}
.borda{
    border: 1px solid var(--borda);
    padding-bottom: 1em;
    border-radius: 30px;
    
    
}
.bordaprinc{
    padding: 1.5em 0;
}