.vagas{
    text-align: center;
    padding-top: 10em;
}
.vagas_titulo{
    font-size: 16px;
    font-weight: 600;
    color: var(--vermelho);
  
    
    
}
.vagas_subtitulo{
    font-size: 36px;
    font-weight: 600;
    color: var(--azul-escuro);
    padding: 0.8em;
}
.vagas_texto{
    color: var(--cinza);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 3em;
}
